body {
  font-size: 17pt;
  letter-spacing: 1px;
  color: #000000;
  font-family: "Myriad Pro Light", sans-serif;
  background-color: #000000;
  font-weight: 100;
}

.secondary {
  color: #ff9600
}

.secondary-bg {
  color: #ff9600
}

a, a:hover, a:visited {
  text-decoration: none;
  cursor: pointer;
}

.content-title {
  font-style: italic;
  font-size: 32pt;
  letter-spacing: 1px;
  line-height: 32pt;
  font-weight: bold;
  color: #ff9600
}

.bold {
  font-weight: bold;
  font-family: "Myriad Pro Bold", sans-serif;
}

.italic {
  font-family: "Myriad Pro Italic", sans-serif;
}

.card-header-tabs {
  margin: 0;
}

.content-body {
  margin: 20px 0;
}

.relative {
  position: relative;
}

.ontop {
  position: absolute;
  width: 100%;
  top: 0;
}

.mynavbar {
  background-color: white;
  color: white;
  text-transform: uppercase;
  font-size: 19px;
  color: #ffffff;
}

.mynavbar .navbar-light .navbar-nav .nav-link {
  color: white;
  font-style: italic;
  font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
  border: 0;
}

.navbar-collapse {
  border-radius: 10px;
  padding: 10px;
  transition: 1s;
}

.navbar-collapse.show {
  background: rgba(0,0,0, 0.8);
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

.cover-header .cover-header-content {
  height: 100vh;
}

.cover-header-logo {
  background-color: #ff9600;
  padding: 15px;
}

.cover-header-content1 {
  margin: 0 8%;
}


.cover-header-title {
  max-width: 300px;
  text-transform: uppercase;
  font-size: 32pt;
  font-style: italic;
  font-weight: bold;
  line-height: 64px;
  text-align: right;
  color: white;
  margin-top: 60px;
}

.cover-header-subtitle {
  color: white;
  font-size: 15pt;
}

.locations {
  margin-top: 60px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 10px;
}

.locations-content {
  display: flex;
}

.locations .location {
  border: 1px solid #fff;
  border-radius: 20px;
  color: white;
  width: 140px;
  height: 180px;
  margin: 40px 15px;
  background-image: url('/uploads/loc.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  text-align: center;
  transform: scale(1);
  transition: 0.3s;
  cursor: pointer;
}

.locations .location.active {
  transform: scale(1.24);
  margin: 15px 40px;
}

.locations .location.hidden {
  opacity: 0;
}

.locations .location .location-title {
  text-transform: uppercase;
  font-size: 12pt;
  margin-top: 30%;
}

.locations .location .location-desc {
  font-size: 7pt;
  line-height: 10pt;
  margin-top: 30%;
}

.location-pager {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.location-pager .location-page {
  background: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 5px;
  transition: '0.4s';
}

.location-pager .location-page.active {
  background-color: #ff9600;
}

.header {
  background-color: #3c2c27;
}

.header .header-title {
  font-size: 36pt;
  color: white;
}

.header .header-content {
  height: 50vh;
}

.header .mynavbar {
  background: none;
  margin-top: 40px;
}

.home .relative .mynavbar {
  position: sticky;
  z-index: 2; 
}

.header .logo {
  max-width: 90%;
  width: 400px;
  margin: 15px;
}

.header .buttons {
  max-width: 90%;
}

.header .button {
  width: 185px;
  text-align: center;
  padding: 20px 2px;
  background-color: #ffffff;
  margin: 15px;
  font-family: "Acumin Pro Regular";
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 23px;
}

.header .button-foodora {
  background-color: #c72d65;
  background-image: url('/uploads/foodora.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-image {
  height: 70px;
}

.home {
  background: #edebea;
}

.paper  {
  padding: 90px 30px;
  background: white;
  color: black;
}

.paper.black {
  background: black;
  color: white;
}

.about {
  background-color: #000000;
}

.content-title {
  color: #ff9600;
}

.recent-post-list {
  
}

.recent-post {
  background-color: #3c2c27;
  margin: 15px 0;
}

.recent-post-content {
  padding: 1px 0px;
}

.recent-post-title, .recent-post-title a {
  font-size: 29px;
  letter-spacing: 1.5px;
  line-height: 29px;
  color: #ffffff;
  font-weight: bold;
  margin: 15px;
  font-family: "Acumin Pro Regular";
}

.recent-post-body {
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 23px;
  color: #ffffff;
  margin: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.gallery-image {
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .content{
}

.menu-bundle {
  padding: 30px 0;
  border-top: 1px dashed #aaa;
}

.menu-item-list {
  
}

.menu-item {
  padding: 30px 0;
}

.menu-item-content {
  padding: 1px 0px;
}



.menu-item-title, .menu-item-price, .menu-bundle-title {
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 23px;
  color: #000000;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: "Acumin Pro Regular";
}

.menu-bundle-title {
  font-size: 30px;
}

.menu-item-price {
  color: #888;
}

.menu-item-body {
  margin-top: 40px;
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 23px;
  color: #595959;
  text-align: center;
}

.contact {
  background-color: #3c2c27;
}

.contact .paper {
  background-color: #3c2c27;
  color: #c2c2c2;
}

.contact a {
  color: #ffffff;
}

.contact .content-title {
  font-size: 21px;
  letter-spacing: 2px;
  line-height: 23px;
  color: #c2c2c2;
}

.contact .content-body {
  font-size: 17px;
  letter-spacing: 2px;
  line-height: 23px;
  color: #c2c2c2;
}

.footer {
  padding: 18px;
  background-color: #000000;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 23px;
  color: #ffffff;
  font-family: "Acumin Pro";
  text-align: center;
}

.posts-page {
  background: lightgray;
}

.post-list {
  margin: 50px 0;
}

.post-title {
  margin-top: 75px;
  font-size: 29px;
  letter-spacing: 1.5px;
  line-height: 23px;
  color: #000000;
  font-weight: bold;
  font-family: "Acumin Pro Semibold";
}

.post-date {
  margin-top: 30px;
}

.post-body {
  margin-top: 50px;
}

.post {
  padding: 55px 0;
  border-bottom: 1px solid #000000;
}

@media only screen and (max-width: 600px) {
  .header .header-content {
    height: 100vh;
  }
}